apiVersion: v2
name: opencti
description: A Helm chart to deploy Open Cyber Threat Intelligence platform
type: application
maintainers:
  - name: ialejandro
    email: hello@ialejandro.rocks
    url: https://ialejandro.rocks
sources:
  - https://github.com/devops-ia/helm-opencti
  - https://github.com/OpenCTI-Platform/opencti
version: 1.0.0
appVersion: 6.3.1
home: https://www.filigran.io/en/solutions/products/opencti/
keywords:
  - opencti
  - cybersecurity
  - threat-intelligence
  - cti
  - threat
  - analysis
dependencies:
  - name: elasticsearch
    version: 21.3.17
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: elasticsearch.enabled
  - name: minio
    version: 14.7.10
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: minio.enabled
  - name: opensearch
    version: 2.25.0
    repository: https://opensearch-project.github.io/helm-charts/
    condition: opensearch.enabled
  - name: rabbitmq
    version: 14.7.0
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: rabbitmq.enabled
  - name: redis
    version: 20.1.4
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: redis.enabled
