apiVersion: v2
name: opencti
description: A Helm chart to deploy Open Cyber Threat Intelligence platform
type: application
maintainers:
  - name: ialejandro
    email: hello@ialejandro.rocks
    url: https://ialejandro.rocks
sources:
  - https://github.com/OpenCTI-Platform/opencti
version: 1.0.0 # replace by CI/CD
appVersion: 6.2.12
home: https://www.filigran.io/en/solutions/products/opencti/
keywords:
  - opencti
dependencies:
  - name: elasticsearch
    version: 21.2.*
    repository: https://charts.bitnami.com/bitnami
    condition: elasticsearch.enabled
  - name: minio
    version: 14.6.*
    repository: https://charts.bitnami.com/bitnami
    condition: minio.enabled
  - name: opensearch
    version: 2.21.*
    repository: https://opensearch-project.github.io/helm-charts/
    condition: opensearch.enabled
  - name: rabbitmq
    version: 14.5.*
    repository: https://charts.bitnami.com/bitnami
    condition: rabbitmq.enabled
  - name: redis
    version: 19.6.*
    repository: https://charts.bitnami.com/bitnami
    condition: redis.enabled
