{{- $appAdminToken := "" -}}
{{- range .Values.secrets -}}
  {{- if and (hasKey .data "APP__ADMIN__TOKEN") (not $appAdminToken) -}}
    {{- $appAdminToken = index .data "APP__ADMIN__TOKEN" -}}
  {{- end -}}
{{- end -}}
{{- if and (hasKey .Values.env "APP__ADMIN__TOKEN") (not $appAdminToken) -}}
  {{- $appAdminToken = .Values.env.APP__ADMIN__TOKEN -}}
{{- end -}}

{{- $connectorsGlobal := .Values.connectorsGlobal }}
{{- range .Values.connectors }}
{{- $connectorName := .name }}

{{- if .enabled }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $connectorName }}-connector-{{ include "opencti.fullname" $ }}
  {{- with .deploymentAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    opencti.connector: {{ $connectorName }}
    {{- include "opencti.labels" $ | nindent 4 }}
spec:
  {{- if not .autoscaling }}
  replicas: {{ .replicas }}
  {{- end }}
  selector:
    matchLabels:
      opencti.connector: {{ $connectorName }}
      {{- include "opencti.selectorLabels" $ | nindent 6 }}
  template:
    metadata:
      {{- with .podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        opencti.connector: {{ $connectorName }}
        {{- include "opencti.selectorLabels" $ | nindent 8 }}
    spec:
      {{- if .imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml .imagePullSecrets | nindent 8 }}
      {{- else if $.Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml $.Values.global.imagePullSecrets | nindent 8 }}
      {{- end }}
      {{- if .serviceAccount }}
      serviceAccountName: {{ if and .serviceAccount (hasKey .serviceAccount "name") }}{{ .serviceAccount.name }}{{ else }}{{ $connectorName }}-connector-{{ include "opencti.fullname" $ }}{{ end }}
      {{- end }}
      securityContext:
        {{- toYaml .podSecurityContext | nindent 8 }}
      {{ if and .readyChecker (hasKey .readyChecker "enabled") }}
      {{- if .readyChecker.enabled }}
      initContainers:
        - name: ready-checker-server
          {{- if $.Values.global.imageRegistry }}
          image: "{{ $.Values.global.imageRegistry }}/{{ .readyChecker.image | default "busybox" }}:{{ .readyChecker.tag | default "latest" }}"
          {{- else }}
          image: {{ .readyChecker.repository | default "busybox" }}:{{ .readyChecker.tag | default "latest" }}
          imagePullPolicy: {{ .readyChecker.pullPolicy | default "IfNotPresent" }}
          {{- end }}
          command:
            - 'sh'
            - '-c'
            - >
              RETRY=0;
              until [ $RETRY -eq {{ .readyChecker.retries }} ];
              do
                if nc -zv {{ $.Values.fullnameOverride | default (include "opencti.fullname" $) }}-server {{ $.Values.service.port }}; then
                  echo "Service {{ $.Values.fullnameOverride | default (include "opencti.fullname" $) }}-server:{{ $.Values.service.port }} is ready";
                  exit 0;
                fi;
                echo "[$RETRY/{{ .readyChecker.retries }}] waiting service {{ $.Values.fullnameOverride | default (include "opencti.fullname" $) }}-server:{{ $.Values.service.port }} is ready";
                sleep {{ .readyChecker.timeout }};
                RETRY=$(($RETRY + 1));
                if [ $RETRY -eq {{ .readyChecker.retries }} ]; then
                  echo "Service {{ $.Values.fullnameOverride | default (include "opencti.fullname" $) }}-server:{{ $.Values.service.port }} did not become ready after {{ .readyChecker.retries }} retries";
                  exit 1;
                fi;
              done
        {{- end }}
      {{- end }}
      containers:
        - name: {{ $connectorName }}-connector
          securityContext:
            {{- toYaml .securityContext | nindent 12 }}
          image: "{{- if and .image (hasKey .image "repository") }}{{ .image.repository }}{{- else if $.Values.global.imageRegistry }}{{ printf "%s/opencti/%s" $.Values.global.imageRegistry .name }}{{- else }}{{ printf "opencti/%s" .name }}{{- end }}:{{ if and .image (hasKey .image "tag") }}{{ .image.tag | default $.Chart.AppVersion }}{{ else }}{{ $.Chart.AppVersion }}{{ end }}"
          imagePullPolicy: {{ if and .image (hasKey .image "pullPolicy") }}{{ .image.pullPolicy }}{{ else }}IfNotPresent{{ end }}
          ports:
            {{- if ((.serviceMonitor).enabled) }}
            - name: metrics
              containerPort: {{ .env.CONNECTOR_METRICS_PORT | default 9095 }}
              protocol: TCP
            {{- end }}
          lifecycle:
            {{- with .lifecycle }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          envFrom:
            {{- if .envFromFiles }}
            {{- tpl (toYaml .envFromFiles) . | nindent 12 }}
            {{- end }}
            {{- if $connectorsGlobal.envFromFiles }}
            {{- tpl (toYaml $connectorsGlobal.envFromFiles) . | nindent 12 }}
            {{- end }}
          env:
            # Variables from secrets have precedence
            # Connector specific env from secrets
            {{- $envList := dict -}}
            {{- if .envFromSecrets }}
            {{- range $key, $value := .envFromSecrets }}
            - name: {{ $key | upper }}
              valueFrom:
                secretKeyRef:
                  name: {{ $value.name }}
                  key: {{ $value.key | default $key }}
            {{- $_ := set $envList $key true }}
            {{- end }}
            {{- end }}
            # Variables from configmap have precedence
            {{- if .envFromConfigMap }}
            {{- range $key, $value := .envFromConfigMap }}
            {{- if not (hasKey $envList $key) }}
            - name: {{ $key | upper }}
              valueFrom:
                configMapKeyRef:
                  name: {{ $value.name }}
                  key: {{ $value.key | default $key }}
            {{- $_ := set $envList $key true }}
            {{- end }}
            {{- end }}
            {{- end }}
            # Add variables in plain text if they were not already added from secrets
            {{- if .env }}
            {{- range $key, $value := .env }}
            {{- if not (hasKey $envList $key) }}
            - name: {{ $key | upper }}
              value: {{ $value | quote }}
            {{- $_ := set $envList $key true }}
            {{- end }}
            {{- end }}
            {{- end }}
            # Special handling for OPENCTI_URL which is constructed from other values
            {{- if not (hasKey $envList "OPENCTI_URL") }}
            {{- if eq $.Values.env.APP__BASE_PATH "/" }}
            - name: OPENCTI_URL
              value: "http://{{ include "opencti.fullname" $ }}-server:{{ $.Values.service.port }}"
            {{- else }}
            - name: OPENCTI_URL
              value: "http://{{ include "opencti.fullname" $ }}-server:{{ $.Values.service.port }}{{ $.Values.env.APP__BASE_PATH }}"
            {{- end }}
            {{- end }}
            # Special handling for OPENCTI_TOKEN which is constructed from other values
            {{- if and (not (hasKey $envList "OPENCTI_TOKEN")) $appAdminToken }}
            - name: OPENCTI_TOKEN
              value: {{ $appAdminToken }}
            {{- end }}
            # Connectors global env from secrets
            {{- if $connectorsGlobal.envFromSecrets }}
            {{- range $key, $value := $connectorsGlobal.envFromSecrets }}
            {{- if not (hasKey $envList $key) }}
            - name: {{ $key | upper }}
              valueFrom:
                secretKeyRef:
                  name: {{ $value.name }}
                  key: {{ $value.key | default $key }}
            {{- $_ := set $envList $key true }}
            {{- end }}
            {{- end }}
            {{- end }}
            # Connectors global env from configmap
            {{- if $connectorsGlobal.envFromConfigMap }}
            {{- range $key, $value := $connectorsGlobal.envFromConfigMap }}
            {{- if not (hasKey $envList $key) }}
            - name: {{ $key | upper }}
              valueFrom:
                secretKeyRef:
                  name: {{ $value.name }}
                  key: {{ $value.key | default $key }}
            {{- $_ := set $envList $key true }}
            {{- end }}
            {{- end }}
            {{- end }}
            # Connectors global env
            {{- if $connectorsGlobal.env }}
            {{- range $key, $value := $connectorsGlobal.env }}
            {{- if not (hasKey $envList $key) }}
            - name: {{ $key | upper }}
              value: {{ $value | quote }}
            {{- $_ := set $envList $key true }}
            {{- end }}
            {{- end }}
            {{- end }}
          volumeMounts:
            {{- with .volumeMounts }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
            {{- with $connectorsGlobal.volumeMounts }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
          resources:
            {{- toYaml .resources | nindent 12 }}
      terminationGracePeriodSeconds: {{ .terminationGracePeriodSeconds | default 30 }}
      volumes:
      {{- with .volumes }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $connectorsGlobal.volumes }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- range $constraint := . }}
        - labelSelector:
            matchLabels:
              opencti.connector: {{ $connectorName }}
              {{- include "opencti.selectorLabels" $ | nindent 14 }}
          {{- toYaml $constraint | nindent 10 }}
        {{- end }}
      {{- end }}

{{- end }}
{{- end }}
