name: Auto-assign issue
on:
  issues:
    types: [opened]
  pull_request_target:
    types: [opened, ready_for_review]
jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
      - name: 'auto-assign issue'
        uses: pozil/auto-assign-issue@39c06395cbac76e79afc4ad4e5c5c6db6ecfdd2e # v2.2.0
        with:
          repo-token: ${{ secrets.PAT_GITHUB }}
          teams: devops-ia
