name: Check OpenCTI major dependencies releases

permissions:
  contents: write
  pull-requests: write

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *' # first day of month

jobs:
  check-and-update-major-dependencies:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Prepare updatecli configuration
        id: dependencies
        run: |
          # get name dependencies
          dependencies=($(yq eval -o=json '.dependencies[] | .name' charts/opencti/Chart.yaml | xargs))

          # replace version
          for dependency in "${dependencies[@]}"; do
            yq eval -i ".sources.${dependency}.spec.versionFilter.pattern = \"*\"" .github/updatecli/helm-dependencies.yaml
          done

      - name: Install updatecli
        uses: updatecli/updatecli-action@4fd2c16d992120bd5355264a03ad0cddec013e1b # v2.99.0

      - name: Update dependencies
        run: |
          updatecli apply --config .github/updatecli/helm-dependencies.yaml --commit=false 2>&1 | tee > $GITHUB_WORKSPACE/major-output.log
          cat $GITHUB_WORKSPACE/major-output.log
        shell: bash
        env:
          UPDATECLI_GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Update README.md Helm Chart
        uses: losisin/helm-docs-github-action@6f957579ac122ecc167bf515fe84e828686c9a15 # v1.7.1
        with:
          chart-search-root: charts/opencti

      - name: Get current date
        id: date
        run: |
          echo "date=$(date -I)" >> $GITHUB_OUTPUT

      - name: Create PR with changes (dry-run)
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        if: github.event_name == 'workflow_dispatch'
        with:
          add-paths: charts/opencti
          token: ${{ secrets.PAT_GITHUB }}
          commit-message: "fix: update major dependencies version"
          signoff: false
          branch: fix/upgrade-opencti-major-dependencies-${{ steps.date.outputs.date }}
          delete-branch: true
          title: '[opencti] upgrade major dependencies (${{ steps.date.outputs.date }})'
          body-path: major-output.log
          draft: true
          labels: |
            auto-pr-bump-version

      - name: Create PR with changes
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        if: github.event_name == 'schedule'
        with:
          add-paths: charts/opencti
          token: ${{ secrets.PAT_GITHUB }}
          commit-message: "fix: update major dependencies version"
          signoff: false
          branch: fix/upgrade-opencti-major-dependencies-${{ steps.date.outputs.date }}
          delete-branch: true
          title: '[opencti] upgrade major dependencies (${{ steps.date.outputs.date }})'
          body-path: major-output.log
          labels: |
            auto-pr-bump-version
