name: Release OpenCTI chart

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Chart version tag to release (e.g. v1.2.3)"
        required: true
        type: string
  push:
    branches:
      - main
    paths:
      - "charts/opencti/**"

jobs:
  release:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write
      id-token: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.tag || '' }}
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Semantic Release
        if: github.event_name != 'workflow_dispatch'
        uses: cycjimmy/semantic-release-action@b12c8f6015dc215fe37bc154d4ad456dd3833c90 # v6.0.0
        id: semantic_release
        with:
          dry_run: true
          branch: main
          tag_format: ${version}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Update Chart version
        id: chart_version
        if: steps.semantic_release.outputs.new_release_published == 'true' || github.event_name == 'workflow_dispatch'
        run: |
          VERSION=${{ github.event_name == 'workflow_dispatch' && github.event.inputs.tag || steps.semantic_release.outputs.new_release_git_tag }}
          VERSION=${VERSION#v}
          sed -i "s/^version: .*/version: ${VERSION}/g" charts/opencti/Chart.yaml
          echo "CHART_VERSION=${VERSION}" >> $GITHUB_OUTPUT

      - name: Check if tag exists
        id: tag_exists
        if: steps.chart_version.outputs.CHART_VERSION != '' && github.event_name != 'workflow_dispatch'
        run: |
          TAG_EXISTS=true
          if ! [ $(git tag -l "v${{ steps.chart_version.outputs.CHART_VERSION }}") ]; then
              TAG_EXISTS=false
          fi
          echo TAG_EXISTS=$TAG_EXISTS >> $GITHUB_OUTPUT

      - name: Run chart-releaser
        if: steps.tag_exists.outputs.TAG_EXISTS == 'false' || github.event_name == 'workflow_dispatch'
        uses: helm/chart-releaser-action@cae68fefc6b5f367a0275617c9f83181ba54714f # v1.7.0
        with:
          charts_dir: charts
          config: .github/cr.yaml
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CR_SKIP_EXISTING: true

      - name: Login in to the Container registry
        if: steps.tag_exists.outputs.TAG_EXISTS == 'false' || github.event_name == 'workflow_dispatch'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Cosign
        if: steps.tag_exists.outputs.TAG_EXISTS == 'false' || github.event_name == 'workflow_dispatch'
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: Install Oras
        if: steps.tag_exists.outputs.TAG_EXISTS == 'false' || github.event_name == 'workflow_dispatch'
        uses: oras-project/setup-oras@22ce207df3b08e061f537244349aac6ae1d214f6 # v1.2.4

      # ref: https://github.com/backstage/charts/blob/88240ce7a0726e3773ee0e4866fbe6325c15267b/.github/workflows/release.yml#L50
      - name: Publish and Sign OCI Charts
        if: steps.tag_exists.outputs.TAG_EXISTS == 'false' || github.event_name == 'workflow_dispatch'
        run: |
          for chart in `find .cr-release-packages -name '*.tgz' -print`; do
            helm push ${chart} oci://ghcr.io/${GITHUB_REPOSITORY} |& tee helm-push-output.log
            file_name=${chart##*/}
            chart_name=${file_name%-*}
            digest=$(awk -F "[, ]+" '/Digest/{print $NF}' < helm-push-output.log)
            cosign sign -y "ghcr.io/${GITHUB_REPOSITORY}/${chart_name}@${digest}"

            oras push "ghcr.io/${GITHUB_REPOSITORY}/${chart_name}:artifacthub.io" "./charts/${chart_name}/artifacthub-repo.yml:application/vnd.cncf.artifacthub.repository-metadata.layer.v1.yaml"
          done
        env:
          COSIGN_EXPERIMENTAL: 1
